@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  background-image: url('./img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}
